@{
    ViewBag.Title = "Index";
}

<h2>Deshboard</h2>
@*
    This will show the number of total person added
*@
<div class="row">
    <div class="col-md-3">
        <div class="card-counter primary">
            <i class="fa fa-code-fork"></i>
            <span class="count-numbers">@ViewBag.Total_no_Persons</span>
            <span class="count-name">Person</span>
        </div>

    </div>
    @*
        This will show the number of person With Up comming Birthdays
    *@
    <div class="col-md-3">
        <div class="card-counter danger">
            <i class="fa fa-ticket"></i>
            <span class="count-numbers">@ViewBag.Persons_upcomming_BD</span>
            <span class="count-name">Birthday's</span>
        </div>
    </div>
    @*
        This will show the number of person With Up comming Birthdays
    *@
    <div class="col-md-3">
        <div class="card-counter success">
            <i class="fa fa-database"></i>
            <span class="count-numbers">@ViewBag.Updated_Persons_Data</span>
            <span class="count-name">Records Updates</span>
        </div>
    </div>
</div>
