@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 Style=" text-align:center">Mini PhoneBook</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create New Contact</h2>
        <p><a class="btn btn-default" href="/Person/Create">Create Now</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wish Upcomming Birthday </h2>
        <p><a class="btn btn-default" href="/Dashboard/Index">Wish Birthday</a></p> </div>
    <div class="col-md-4">
        <h2>Updated Persons</h2>
        <p><a class="btn btn-default" href="/Dashboard/Index">Get Info</a></p>
    </div></div>
</div>